{% extends 'base.html.twig' %}

{% block siteName %}{{ eventseries.title }}{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}

    <fieldset>
        <legend><h1>{{ eventseries.title }} {{ model.modelname|capitalize }} bearbeiten</h1></legend>

            <div class="form-group">
                {{ form_label(edit_form.doorsopen) }}
                <div class="col-md-5">
                    {{ form_errors(edit_form.doorsopen) }}
                    {{ form_widget(edit_form.doorsopen) }}
                </div>
            </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" type="submit"
                        class="btn btn-primary">Speichern
                </button>
            </div>
        </div>
    </fieldset>
    {{ form_end(edit_form) }}

    <a class="btn" href="{{ path('eventseries_event_index', {'id': eventseries.id}) }}">Zurück</a>
    <br>
    {% if delete_form is defined %}
        {{ form_start(delete_form) }}
        <button id="singlebutton" name="singlebutton" type="submit"
                class="btn btn-danger">{{ model.modelname|capitalize }} löschen
        </button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
