{% if active is not defined %}{% set active = 'post' %}{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Kiste e.V. - Dein Studentenclub in Magdeburg!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '150096942241309',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/de_DE/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% block javascripts %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link href='{{ asset('fonts/broadway/stylesheet.css') }}' rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    <style>
        body {
            background-image: url("{% block background %}{{ asset('img/cover/' ~ active ~ '.jpg') }}{% endblock %}");
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}{{ include('navbar.html.twig') }}{% endblock %}
<div class="jumbotron">
    <h1>{% block siteName %}Studentenclub Kiste e.V.{% endblock %}</h1>
</div>
{% if app.user %}
    {% block admin %}{% endblock %}
{% endif %}
<div class="container marketing">
    {% block body %}{% endblock %}
    {% block footer %}{{ include('footer.html.twig') }}{% endblock %}
</div>
</body>
</html>
