<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Kiste e.V. - Der Studentenclub in Magdeburg!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}{{ include('navbar.html.twig', {'active' : ''}) }}{% endblock %}
<div class="container marketing">
    {% block body %}{% endblock %}
    {% block footer %}{{ include('footer.html.twig') }}{% endblock %}
</div>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
