{% extends 'model/index.html.twig' %}

{% block admin %}{% endblock %}

{% block background %}{{ asset('img/cover/post.jpg') }}{% endblock %}

{% block siteName %}Kommende Veranstaltungen{% endblock %}

{% block modelLink %}
    {% if model.modelName == 'post' or model.modelName == 'partner' or model.modelName == 'product' %}
        {{ model.link }}
    {% elseif model.modelName == 'event' %}
        {{ path('eventseries_show', {'id': model.series.id}) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block modelImageSrc %}
    {% if model.modelName == 'film' %}
        {{ 'http://image.tmdb.org/t/p/w400' ~ model.image }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if models is empty %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h3 style="text-align: center">Sobald wir mehr wissen, informieren wir dich hier über anstehende
                    Veranstaltungen!</h3>
            </div>
        </div>
    {% else %}
        {% for model in models %}
            {{ block('model') }}
        {% endfor %}
    {% endif %}
    {{ block('pagination') }}
{% endblock %}
