{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    {% if app.user %}
        <div class="row">
            <a href="{{ path('post_new') }}"><h3
                        style="text-align: center; float: center;">
                    Neuer Post <span class="glyphicon glyphicon-plus"
                                     aria-hidden="true"></span>
                </h3></a>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="row featurette">
            {% if loop.index is even %}
                {{ include ('post/index/image.html.twig') }}
            {% endif %}
            {{ include ('post/index/content.html.twig') }}
            {% if loop.index is not even %}
                {{ include ('post/index/image.html.twig') }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}