{% extends 'model/index.html.twig' %}

{% block siteName %}Unser Sortiment{% endblock %}

{% block body %}
    {% if alcoholic %}
        <script>
            if (!confirm("Na, bist du denn überhaupt schon 16 Jahre alt?")) {
                window.location.href = '/products';
            }
        </script>
    {% endif %}

    <div class="text-center">
            <a class="btn btn-{% if not alcoholic %}primary{% else %}default{% endif %}" href="{{ path('product_index', { 'alcoholic': false }) }}">
                <h4>Alkoholfrei</h4></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-{% if alcoholic %}primary{% else %}default{% endif %}" href="{{ path('product_index', { 'alcoholic': true }) }}">
                <h4>mit Alkohol</h4>
            </a>
    </div>
    {{ parent() }}
{% endblock %}

{% block modelLink %}{{ model.link }}{% endblock %}
{% block footnote %}Quelle: {{ model.source }}{% endblock %}
{% block modelContent %}{{ model.content }}{% endblock %}