{% extends 'model/index.html.twig' %}

{% block siteName %}Unser Sortiment{% endblock %}

{% block body %}
    {% if alcoholic %}
        <script>
            if (!confirm("Na, bist du denn überhaupt schon 16 Jahre alt?")) {
                window.location.href = '/products';
            }
        </script>
    {% endif %}

    <div class="row">
        <div class="col-md-offset-4 col-md-2 alkoholfrei">
            <a href="{{ path('product_index', { 'alcoholic': false }) }}">
                <h4{% if not alcoholic %} style="font-weight: bold;" {% endif %}>Alkoholfrei</h4></a>
        </div>
        <div class="col-md-2 alkohol">
            <a href="{{ path('product_index', { 'alcoholic': true }) }}">
                <h4{% if alcoholic %} style="font-weight: bold;" {% endif %}>mit Alkohol</h4>
            </a>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block featurette %}
    <a href="{{ model.link }}">
        <h2 class="featurette-heading">{{ model.title }}<span
                    class="text-muted"> {{ model.subtitle }}</span>
        </h2>
        <p class="lead">{{ model.content }}</p>
        <p>Quelle: {{ model.source }}</p>
    </a>
{% endblock %}
