{% extends 'model/edit.html.twig' %}

{% block siteName %}Party{% endblock %}

{% block background %}{{ asset('img/party.jpg') }}{% endblock %}

{% block fields %}
    {{ parent() }}
    <div class="form-group">
        {{ form_label(edit_form.doorsopen) }}
        <div class="col-md-5">
            {{ form_errors(edit_form.doorsopen) }}
            {{ form_widget(edit_form.doorsopen) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.admission) }}
        <div class="col-md-5">
            {{ form_errors(edit_form.admission) }}
            {{ form_widget(edit_form.admission) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.boxoffice) }}
        <div class="col-md-5">
            {{ form_errors(edit_form.boxoffice) }}
            {{ form_widget(edit_form.boxoffice) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.preselling) }}
        <div class="col-md-5">
            {{ form_errors(edit_form.preselling) }}
            {{ form_widget(edit_form.preselling) }}
        </div>
    </div>
{% endblock %}
