{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parties list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Doorsopen</th>
                <th>Admission</th>
                <th>Boxoffice</th>
                <th>Preselling</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for party in parties %}
            <tr>
                <td><a href="{{ path('party_show', { 'id': party.id }) }}">{{ party.id }}</a></td>
                <td>{% if party.doorsopen %}{{ party.doorsopen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ party.admission }}</td>
                <td>{% if party.boxoffice %}Yes{% else %}No{% endif %}</td>
                <td>{% if party.preselling %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('party_show', { 'id': party.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('party_edit', { 'id': party.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('party_new') }}">Create a new party</a>
        </li>
    </ul>
{% endblock %}
