{% extends 'base.html.twig' %}


{% block admin %}
    <div class="text-center">
        <a href="{{ path(modelName ~ '_new') }}">
            <h3 class="btn btn-primary">{{ modelName|capitalize }} hinzufügen
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </h3>
        </a>
    </div>
{% endblock %}

{% block body %}
    {% for model in models %}
        {% block model %}
            <div class="row featurette">
                {% if loop.index is even %}
                    {% block modelImage %}
                        <div class="col-md-5">
                            <div style="max-height: 350px; overflow: hidden; margin: 0 0 0 0;">
                                <img class="featurette-image img-responsive"
                                {% if model.image %}
                                    src="{% block modelImageSrc %}{{ asset(images_directory ~ model.image) }}{% endblock %}"
                                {% else %}
                                    src="{{ asset('img/placeholder.jpg') }}"
                                {% endif %}>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}
                <div class="col-md-7">
                    {% block featurette %}
                        <a href="{% block modelLink %}{{ path( model.modelName ~ '_show', {'id': model.id}) }}{% endblock %}">
                            <h2 class="featurette-heading">{% block modelTitle %}{{ model.title }}{% endblock %}.<span
                                        class="text-muted"> {% block modelSubtitle %}{{ model.subtitle }}{% endblock %}{% if model.subtitle is not empty %}.{% endif %}</span>
                            </h2>
                            <p class="lead">{% block modelContent %}{{ model.content|truncate(400) }}{% endblock %}</p>
                            <p>{% block footnote %}Gepostet am {{ model.updatedAt|date("d.m.Y") }} um {{ model.updatedAt|date("H:i") }} Uhr{% endblock %}</p>
                        </a>
                    {% endblock %}
                    {% if app.user and model.modelName != 'event' %}
                        <a href="{{ path(model.modelName ~ '_edit', { 'id': model.id }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                    {% include 'components/social-media.html.twig'  with {'path': path( model.modelName ~ '_show', {'id': model.id})} %}
                </div>
                {% if loop.index is not even %}
                    {{ block('modelImage') }}
                {% endif %}
            </div>
            {% if not loop.last %}
                <hr class="featurette-divider"/>
            {% endif %}
        {% endblock %}
    {% endfor %}
    {% block pagination %}
        <div class="text-center">
            {{ knp_pagination_render(models) }}
        </div>
    {% endblock %}
{% endblock %}