{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/show.css') }}" rel="stylesheet">
{% endblock %}

{% block admin %}
    <div class="row" style="padding-top:10px">
        <div class="col-md-6 text-right">
            <a href="{{ path(model.modelName ~ '_edit', { 'id': model.id }) }}" type="button"
               class="btn btn-primary custom-button-width">Bearbeiten</a>
            {% block adminButtons %}{% endblock %}
        </div>
        <div class="col-md-6">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div style="margin: 0 30px -10px 30px">
        <h2 class="featurette-heading">{% block modelTitle %}{{ model.title }}{% endblock %}<span
                    class="text-muted"> {% block modelSubtitle %}{{ model.subtitle }}{% endblock %}</span>
        </h2>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <table class="table">
                <tbody>
                {% block fields %}{% endblock %}
                <tr>
                    <td colspan="2">{% block modelContent %}{{ model.content|nl2br }}{% endblock %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="{% block modelImageSrc %}{{ images_directory ~ model.image }}{% endblock %}"
                 alt="Generic placeholder image"> <br>
        </div>
    </div>
    <a style="margin-left: 30px" href="{% block backLink %}{{ path(model.modelName ~ '_index') }}{% endblock %}" class="btn btn-default"><span
                class="glyphicon glyphicon-menu-left"></span>Zurück</a>
{% endblock %}