{% extends 'model/index.html.twig' %}

{% block siteName %}Kino{% endblock %}

{% block model %}
    {% set tmdbMovie = tmdbRepo.load(model.tmdbId, {'language': 'de'}) %}
    {{ parent() }}
{% endblock %}

{% block featurette %}
    <a href="{{ path('film_show', {'id': model.id}) }}">
        <h2 class="featurette-heading">{{ tmdbMovie.title }}<span
                    class="text-muted"> am {{ model.doorsopen|date("d.m.Y") }}</span>
        </h2>
        <p class="lead">{{ tmdbMovie.overview|truncate(450) }}</p>
    </a>
{% endblock %}

{% block imageSrc %}
    {{ 'http://image.tmdb.org/t/p/w600' ~ tmdbMovie.posterPath }}
{% endblock %}