{% extends 'base.html.twig' %}

{% block body %}
    <h1>Film</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Imdbid</th>
                <td>{{ film.imdbId }}</td>
            </tr>
            <tr>
                <th>Showtime</th>
                <td>{% if film.showtime %}{{ film.showtime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('film_edit', { 'id': film.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
