{% extends 'model/show.html.twig' %}

{% block siteName %}Kino{% endblock %}

{% block modelTitle %}{{ model.title }}{% if tmdbMovie.tagline is not empty %}.{% endif %}{% endblock %}
{% block modelSubtitle %}{{ tmdbMovie.tagline }}{% endblock %}

{% block fields %}
    <tr>
        <td>Im Kiste Kino:</td>
        <td>{{ model.doorsopen| date('d.m.Y') }}, {{ model.doorsopen|date('H:i') }} Uhr</td>
    </tr>
    <tr>
        <td>Genres:</td>
        <td>{% for genre in tmdbMovie.genres %}
                {{ genre.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Regisseur_in:</td>
        <td>
            {% for person in tmdbMovie.credits.crew %}
                {% if person.job == 'Director' %}
                    {{ person.name }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Schauspieler_innen:</td>
        <td>
            {% for person in tmdbMovie.credits.cast %}
                {% if loop.index < 5 %}
                    {{ person.name }}{% if loop.index < 4 %}, {% endif %}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Produktionsfirma:</td>
        <td>{% for company in tmdbMovie.productionCompanies %}
                {{ company.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Produktionsland:</td>
        <td>{% for country in tmdbMovie.productionCountries %}
                {{ country.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Veröffentlichung:</td>
        <td>{{ tmdbMovie.releaseDate|date('d.m.Y') }}</td>
    </tr>
{% endblock %}

{% block modelImageSrc %}{{ 'http://image.tmdb.org/t/p/w600' ~ tmdbMovie.posterPath }}{% endblock %}

{% block body %}
    {{ parent() }}
    {% for video in tmdbMovie.videos %}
        {% if video.site == 'YouTube' %}
            <hr class="featurette-divider"/>
            <div style="max-width:800px; margin: auto;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{ video.key }}" allowfullscreen></iframe>
            </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}



