{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    <link href="{{ asset('css/show.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h2 class="featurette-heading">{{ tmdbMovie.title }}.<span
                        class="text-muted"> {{ tmdbMovie.tagline }}.</span>
            </h2>
        </div>
    </div>
    <hr>

    <div class="row featurette">
        <div class="col-md-7">
            <table class="table">
                <tbody>
                <tr>
                    <td>Im Kiste Kino:</td>
                    <td>{{ model.showtime| date('d.m.Y') }}, {{ model.showtime|date('H:i') }} Uhr</td>
                </tr>
                <tr>
                    <td>Genres:</td>
                    <td>{% for genre in tmdbMovie.genres %}
                            {{ genre.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <td>Regisseur_in:</td>
                    <td>
                        {% for person in tmdbMovie.credits.crew %}
                            {% if person.job == 'Director' %}
                                {{ person.name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Schauspieler_innen:</td>
                    <td>
                        {% for person in tmdbMovie.credits.cast %}
                            {% if loop.index < 5 %}
                                {{ person.name }}{% if loop.index < 4 %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Produktionsfirma:</td>
                    <td>{% for company in tmdbMovie.productionCompanies %}
                            {{ company.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <td>Produktionsland:</td>
                    <td>{% for country in tmdbMovie.productionCountries %}
                            {{ country.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <td>Veröffentlichung:</td>
                    <td>{{ tmdbMovie.releaseDate|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ tmdbMovie.overview }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="{{ 'http://image.tmdb.org/t/p/w600' ~ tmdbMovie.posterPath }}"
                 alt="Generic placeholder image"> <br>
        </div>
    </div>


    {% for video in tmdbMovie.videos %}
        {% if video.site == 'YouTube' %}
            <hr class="featurette-divider"/>
            <div style="max-width:800px; margin: auto;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{ video.key }}" allowfullscreen></iframe>
            </div>
            </div>
        {% endif %}
    {% endfor %}

    <a href="{{ path(modelName ~ '_index') }}" class="btn btn-default"><span
                class="glyphicon glyphicon-menu-left"></span>Zurück</a>
    {% if app.user %}
        <h3 style="text-align: right; float: right;">
            <div class="col-md-6">
                <a href="{{ path(modelName ~ '_edit', { 'id': model.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                </a>
            </div>
            <div class="col-md-6">
                {{ form_start(delete_form) }}
                <input type="submit" value="Löschen" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </h3>
    {% endif %}
{% endblock %}



