{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    {% block beforeContent %}
    {% if app.user %}
        <div class="row">
            <a href="{{ path(modelName ~ '_new') }}"><h3
                        style="text-align: center; float: center;">
                    {{ modelName|capitalize }} hinzufügen <span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span>
                </h3></a>
        </div>
    {% endif %}
    {% endblock %}
    <hr>
    <br> <br>
    {% for model in models %}
        {% block model %}
        <div class="row featurette">
            {% if loop.index is even %}
                {% block image %}
                    <div class="col-md-5">
                        <div style="height: 350px; overflow: hidden;">
                            <img class="featurette-image img-responsive"
                                 src="{% block imageSrc %}{{ images_directory ~ model.image }}{% endblock %}"
                                 alt="Generic placeholder image">
                        </div>
                    </div>
                {% endblock %}
            {% endif %}
            <div class="col-md-7">
                {% block featurette %}
                    <a href="{{ path( model.modelName ~ '_show', {'id': model.id}) }}">
                        <h2 class="featurette-heading">{{ model.title }}.<span
                                    class="text-muted"> {{ model.subtitle }}</span>
                        </h2>
                        <p class="lead">{{ model.content|truncate(500) }}</p>
                        <p>{{ model.modelName }} Gepostet am: {{ model.updatedAt|date("d.m.Y") }}</p>
                    </a>
                {% endblock %}
                {% if app.user and model.modelName != 'event'  %}
                    <a href="{{ path(model.modelName ~ '_edit', { 'id': model.id }) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
            {% if loop.index is not even %}
                {{ block('image') }}
            {% endif %}
        </div>
        <hr class="featurette-divider"/>
        {% endblock %}
    {% endfor %}
{% endblock %}